body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f3f3e2;
    align-items: center; /* 默认左对齐 */
}
.container {
    display: flex;
    flex-direction: row; 
    align-items: center; /* 居中对齐 */
}
.button-container {
    margin: 10px 0; /* 按钮的上下间距 */
}
/*
#content-display {
    margin-top: 20px; 
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 600px; 
} */




.region-container {
  
    border: 1px solid #201e1f;
    background-color: #f9f9d8;
    margin: 10px;
    padding: 10px;
    display: flex;  
    flex-direction: column; /* 垂直排列区域 */
    align-items: center; /* 左对齐 */
}
.selected-deployment-display {
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
    padding: 10px; /* 添加内边距 */
    border: 2px solid blue; /* 添加边框 */
    border-radius: 5px; /* 圆角效果 */
    background-color: #f0f8ff; /* 背景颜色，可以根据需要调整 */
    display: inline-block; /* 使元素宽度仅包裹内容 */
    margin: 10px 0; /* 部署展示区的上下间距 */
    text-align: center; /* 文本居中对齐 */
    display: flex; /* 使用 Flexbox */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    /*width: 80%;  确保占满父容器的宽度 */
    
}
.zone-container {
    border: 1px solid #a0a0a0; /* 添加边框样式 */
    margin: 5px 0; /* 上下间距 */
    padding: 10px;
    display: flex; /* 水平排列 Zones */
    flex-wrap: wrap; /* 允许换行 */
    justify-content: center; /* 水平居中对齐 */
    align-items: flex-start;
}
.rack-container {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    flex: 1 0 30%; /* 每个 rack 30% 宽度 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 允许垂直堆叠节点 */
    align-items: center; /* 水平居中 */
}

.hostname-container {
    padding: 5px;
    margin: 5px;
    border: 1px solid #7a7ab0;
    background-color: #e8e8ff;
    border-radius: 5px;
    text-align: center;
    width: 100%; /* 节点宽度填满 */
    height: 50px; /* 设置固定高度 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.pod_hostname-container {
    border: 1px solid #050505;
    margin: 5px;
    padding: 10px;
    flex: 1 0 30%; /* 每个 rack 30% 宽度 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 允许垂直堆叠节点 */
    align-items: center; /* 水平居中 */
}
.pod-container {
    padding: 4px;
    background-color: #b2a9af; /* Pod 背景颜色 */
    margin: 2px 0; /* Pod 外边距 */
    border-radius: 3px; /* 圆角 */
}
.region-container h1, .zone-container h2 {
    flex-direction: column; /* 允许垂直堆叠节点 */
    text-align: center; /* 水平居中 */
}
/* 媒体查询用于调整小屏幕的布局 */
@media (max-width: 768px) {
    .rack-container {
        flex: 1 0 100%; /* 小屏幕时每个 rack 占满 100% 宽度 */
    }
}
