body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f3f3e2;
}

.region-container {
  
    border: 1px solid #b0b084;
    background-color: #f9f9d8;
    margin: 10px;
    padding: 10px;
    display: flex;  
    flex-direction: column; /* 垂直排列区域 */
    align-items: center; /* 左对齐 */
}

.zone-container {
    text-align: center; /* 文本居中 */
    border: 1px solid #a0a0a0; /* 添加边框样式 */
    margin: 5px 0; /* 上下间距 */
    padding: 10px;
    display: flex; /* 水平排列 Zones */
    flex-wrap: wrap; /* 允许换行 */
    justify-content: center; /* 水平居中对齐 */
    align-items: flex-start;
}
.rack-container {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    flex: 1 0 30%; /* 每个 rack 30% 宽度 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 允许垂直堆叠节点 */
    align-items: center; /* 水平居中 */
}

.hostname-container {
    border: 1px solid #050505;
    margin: 5px;
    padding: 10px;
    flex: 1 0 30%; /* 每个 rack 30% 宽度 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 允许垂直堆叠节点 */
    align-items: center; /* 水平居中 */
}
.pod-container {
    padding: 4px;
    background-color: #b2a9af; /* Pod 背景颜色 */
    margin: 2px 0; /* Pod 外边距 */
    border-radius: 3px; /* 圆角 */
}
.region-container h1, .zone-container h2 {
    text-align: center; /* 水平居中 */
}
/* 媒体查询用于调整小屏幕的布局 */
@media (max-width: 768px) {
    .rack-container {
        flex: 1 0 100%; /* 小屏幕时每个 rack 占满 100% 宽度 */
    }
}
